body {
  background: url("../src/backimage.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  font-family: "Inter", sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1280px;
}

.textNavA {
  color: black;
  text-decoration: none;
  line-height: 65px;
}

.nav {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  text-align: center;
}

.btnNav {
  background-color: #dffafa;
  box-shadow: 3px 3px 3px 0px rgb(187, 187, 187);
  border-radius: 3px;
  padding: 5px 10px;
  border: none;
  cursor: pointer;
}

.header {
  background-color: rgba(255, 255, 255, 0.724);
}

/*-------------------------Модальное окно авторизации-------------------------------------*/
.modalLog {
  position: relative;
  left: 55%;
  background-color: #fff;
  height: 250px;
  width: 400px;
  border-radius: 50px;
  bottom: 569px;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
}

.modalLog .titleLog {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.modalLog input {
  background-color: #f4f4f4;
  border: none;
  width: 300px;
  border-radius: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.modalLog input:focus {
  outline: none;
}

.formmodalLog {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnLog {
  background-color: #f4f4f4;
  border: none;
  margin-top: 20px;
}

.modalLog button {
  cursor: pointer;
}

.modalLog.open {
  visibility: visible;
  opacity: 1;
}

/*-------------------------Модальное окно авторизации-------------------------------------*/
/*-------------------------Модальное окно регистрации-------------------------------------*/

.modalReg {
  position: relative;
  bottom: 819px;
  left: 65%;
  background-color: #fff;
  height: 350px;
  width: 400px;
  border-radius: 50px;
  visibility: hidden;
  opacity: 0;
  z-index: 900;
}

.modalReg .titleLog {
  padding: 20px;
  text-align: center;
  font-size: 30px;
}

.modalReg input {
  background-color: #f4f4f4;
  border: none;
  width: 300px;
  border-radius: 50px;
  margin-bottom: 20px;
  text-align: center;
}

.modalReg input:focus {
  outline: none;
}

.formmodalReg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.btnLog {
  background-color: #f4f4f4;
  border: none;
  margin-top: 20px;
}

.modalReg button {
  cursor: pointer;
}

.modalReg.open {
  visibility: visible;
  opacity: 1;
}

/*-------------------------Модальное окно регистрации-------------------------------------*/
/*-------------------------фотки-------------------------------------*/

.twoBlocks {
  display: flex;
  justify-content: center;
  margin-top: 10%;
}

.rightBlock {
  margin-left: 30px;
}

.leftBlock,
.rightBlock {
  display: flex;
}

.albom {
  margin-right: 30px;
}

.familyphoto {
  margin-left: 30px;
}

.twoBlocks p {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
}

.pastexttop {
  position: absolute;
  padding: 30px 66.5px;
  top: 130px;
}

.pasblock {
  height: 205px;
  width: 262px;
  transition: transform 0.2s ease-in-out;
}

.pasblock:hover {
  transform: scale(1.1);
}

.albom {
  height: 441px;
  width: 260px;
  transition: transform 0.2s ease-in-out;
}

.albom:hover {
  transform: scale(1.1);
}

.albomtext {
  position: absolute;
  padding: 30px 67.5px;
  bottom: 0;
}

.albomR {
  margin-left: 30px;
}

.marryphoto {
  height: 205px;
  width: 262px;
  transition: transform 0.2s ease-in-out;
}

.marryphoto:hover {
  transform: scale(1.1);
}

.pasblock {
  margin-bottom: 30px;
}

.marrytext {
  padding: 30px 66px;
  position: absolute;
  bottom: 0;
}

.pastext {
  position: absolute;
  padding: 30px 42px;
  top: 130px;
}

.epick {
  height: 205px;
  width: 262px;
  transition: transform 0.2s ease-in-out;
  margin-bottom: 30px;
}

.epick:hover {
  transform: scale(1.1);
}

/*-------------------------фотки-------------------------------------*/
